ul {
  display: flex;
  flex-direction: row;

  li{
    list-style: none;
    cursor: pointer;
    padding: 1em;
    position: relative;
    min-width: 100px;

    ul {
      display: none;
      flex-direction: column;
      position: absolute;
      background: white;
      color: black;
      left: -2.5em;
      width: 100%;

      li {
        border: 1px solid black;
        padding: .5em;
      }
    }
  }

  li:hover {
    background: blue;
    color: white;

    ul {
      display: flex;
    }
  }
}
